.impresion {
	border-width: 0;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}
.reporte-impresion {
	border-width: 0 !important;
	padding-top: 0 !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.tabla-compress.table>tbody>tr>td {
	padding-top: 4px;
	padding-bottom: 4px;
}

@media print {
	.ibox-title{
		display: none !important; 
	}
	.migaspan{
		display: none !important; 
	}
	.table{
		font-size: 8px !important; 
	}
	.footer{
		display: none !important; 
	}
	.sec-volver{
		display: none !important; 
	}

	.titreporte {
		display: block !important;
	}
	.texto-impresion {
		font-size: 13px !important;
	}
	.pagebreak {
		page-break-before: always;
	}
	.border-bottom {
		border-style: none !important;
	}
	.tabla-compress.table>tbody>tr>td {
		font-size: 11px;
	}
}
